/* whole content */

body {
	background-color: magenta;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}


/* header */

#header {
	background-color: rgb(255, 0, 0);
	width: 100%;
	height: 40px;
	
    position: fixed;
    top: 0;
    z-index: 2;
    
	box-shadow:0px 0px 6px 4px #727272;
	-moz-box-shadow:0px 0px 6px 4px #727272;
	-webkit-box-shadow:0px 0px 6px 4px #727272;
}

div #headerBG {
	width: 100%;
	height: 40px;
	background-color: #00ff00;
}

div #header-content {
	padding-left: 80px;
	padding-right: 80px;
	height: 40px;
}

/* */
div #logo {
	width: 25%;
	height: 100%;
	float: left;
	background-color: #aa00aa;
}

div #logo img {
	height: 100%;
}

/* */
div #search {
	width: 50%;
	height: 100%;
	float: left;
	background-color: #555555;
}

div #search-box {
	height: 60%;
	background: white;
	border-radius: 100px;
	padding-left: 10px;
	margin-top: 8px;
}

#search-box-img {
	height: 60%;
	float: left;
	margin-top: 5px;
	margin-right: 2px;
}

#search-box-input {
	/*background-color: magenta;*/
	border-radius: 100px;
	width: 93%;
	height: 100%;
	outline: 0;
	border: none;
}


/* */
div #buttons {
	float: right;
	width: 25%;
	height: 100%;
	background-color: #0000aa;
}

div #buttons-inner {
	float: right;
	background-color: yellow;
}

div .actionButton {
	width: 40px;
	height: 40px;
	float: left;
}

div .actionButton img {
	width: 100%;
	height: 100%;
}


/* content area */

div #content {
	width: 100%;
	height: 2000px;
	margin: 0 auto;
}

div #content-left {
	background-color: #eeeeee;
	float: left;
	width: 20%;
	height: 100%;
}

div #content-center {
	background-color: #ddddee;
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

div #content-right {
	background-color: #eeeeee;
	width: 20%;
	height: 100%;
	float: right;
}

/* content */

#post-box {
	background-color: purple;
	margin: 2% 1% 2% 1%;
	height: 40px;
	padding-left: 3%;
	padding-right: 3%;
	
	/* box-shadow */
	box-shadow:0px 0px 3px 1px #505050;
	-moz-box-shadow:0px 0px 3px 1px #505050;
	-webkit-box-shadow:0px 0px 3px 1px #505050;
}

#post-box-icon {
	float: left;
	height: 40px;
	border-radius: 50%;
}
#post-box-textarea {
	display: block;
	float: left;
	width: 80%;
	height: 40%;
	margin-left: 1%;
	margin-top: 9px;
	color: blue;
	resize: none;
	overflow: hidden;
}

#post-button {
	height: 20px;
	width: 80px;
	margin-left: 1%;
	margin-top: 9px;
	padding: 0;
}
#post-button:hover {
	background-color: pink;
	cursor: pointer;
}

#post-button img {
	height: 100%;
	width: auto;
}


/* article */

.post {
	background-color: #bbbb00;
	/* top right bottom left */
	margin: 2% 1% 2% 1%;
	
	/* box-shadow http://www.bad-company.jp/box-shadow/ */
	/* box-shadow */
	box-shadow:0px 0px 3px 1px #505050;
	-moz-box-shadow:0px 0px 3px 1px #505050;
	-webkit-box-shadow:0px 0px 3px 1px #505050;
}

/* */
.post-header {
	background-color: #ffff00;
	height: 40px;
	padding-left: 3%;
	padding-right: 3%;
}

.post-header .post-user-icon {
	width: 40px;
	height: 100%;
	border-radius: 50%;
	float: left;
}

.post-header .post-user-name {
	float: left;
	margin-left: 1%;
	margin-top: 10px;
	font-weight: bolder;
	color: blue;
}

.post-header .post-user-id {
	float: left;
	margin-left: 1%;
	margin-top: 10px;
	font-weight: bolder;
	color: red;
}

.post-header .post-time {
	float: right;
	margin-left: 1%;
	margin-top: 10px;
	color: gray;
}

/* */
.post-content {
	background-color: #ffffff;
	width: 100%;
	padding: 0px;
	vertical-align: bottom;
}

.post-content .post-text {
	background-color: blue;
	color: yellow;
	padding: 3%;
	margin: 0px;
}

.post-content .post-picture {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* */
.post-footer {
	background-color: brown;
	width: 100%;
	height: 30px;
}

.post-footer .react-area {
	background-color: yellow;
	float: right;
	height: 100%;
	padding-right: 3%;
}

.post-footer .react-area .react-box {
	background-color: lightGray;
	float: left;
	height: 100%;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.post-footer .react-area .react-box:hover {
	background-color: magenta;
	cursor: pointer;
}

.post-footer .react-area .react-box .react-img {
	height: 100%;
	width: auto;
	float: left;
}

.post-footer .react-area .react-box p {
	font-size: 10px;
	width: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

.post-footer .react-area .reply-box {
	background-color: magenta;
}


/* footer */

footer #footer {
	background-color: magenta;
	padding-left: 10%;
	padding-right: 10%;
}
