/* whole content */

body {
	margin: 0px;
	padding: 0px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}


/* header */

#header {
	width: 100%;
	height: 40px;
    position: fixed;
    top: 0;
    z-index: 2;
	/* http://www.bad-company.jp/box-shadow/ */
	box-shadow:0px 0px 1px 2px #c8c8c8;
	-moz-box-shadow:0px 0px 1px 2px #c8c8c8;
	-webkit-box-shadow:0px 0px 1px 2px #c8c8c8;
}

div #headerBG {
	width: 100%;
	height: 40px;
}

div #header-content {
	padding-left: 80px;
	padding-right: 80px;
	height: 40px;
}

/* */
div #logo {
	width: 25%;
	height: 100%;
	float: left;
}

div #logo img {
	height: 100%;
}

/* */
div #search {
	width: 50%;
	height: 100%;
	float: left;
}

div #search-box {
	height: 60%;
	background: #F5F5F5;
	/* twitter border color */
	border: 1px solid #e1e8ed;
	border-radius: 100px;
	padding-left: 10px;
	margin-top: 7px;
}

#search-box-img {
	height: 60%;
	float: left;
	margin-top: 5px;
	margin-right: 2px;
}

#search-box-input {
	border-radius: 100px;
	background-color: #F5F5F5;
	/* js resize for x(vanish) */
	width: 90%;
	height: 100%;
	outline: 0;
	border: none;
}


/* menu: action buttons */
div #buttons {
	float: right;
	width: 25%;
	height: 100%;
}

div #buttons-inner {
	float: right;
}

div .actionButton {
	width: 40px;
	height: 40px;
	float: left;
}

div .actionButton img {
	width: 100%;
	height: 100%;
}

div #pulldown-menu {
	width: 100px;
	height: 150px;
	margin: 0px;
	background-color: cyan;
	top: 10px;
}

div #pulldown-menu ul {
	padding: 10px;
}

div #pulldown-menu ul li {
	list-style: none;
}

/* content area */

div #content {
	width: 100%;
	height: 2000px; /* caution */
	margin: 0 auto;
}

div #content-left {
	float: left;
	width: 20%;
	height: 100%;
}

div #content-center {
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

div #content-right {
	width: 20%;
	height: 100%;
	float: right;
}

/* content */

#post-box {
	margin: 2% 1% 2% 1%;
	height: 40px;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 2px;
	
	/* box-shadow */
	box-shadow: 0px 0px 3px 1px #C8C8C8;
	-moz-box-shadow:0px 0px 3px 1px #C8C8C8;
	-webkit-box-shadow:0px 0px 3px 1px #C8C8C8;
	
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
}

#post-box-icon {
	float: left;
	height: 40px;
	border-radius: 50%;
}
#post-box-textarea {
	display: block;
	float: left;
	width: 80%;
	height: 40%;
	margin-left: 1%;
	margin-top: 9px;
	color: gray;
	resize: none;
	overflow: hidden;
}

#post-button {
	height: 20px;
	width: 80px;
	margin-left: 1%;
	margin-top: 9px;
	padding: 0;
}
#post-button:hover {
	background-color: pink;
	cursor: pointer;
}

#post-button img {
	height: 100%;
	width: auto;
}


/* article */

.post {
	margin: 2% 1% 2% 1%;
	border-radius: 2px;
	
	/* box-shadow */
	box-shadow:0px 0px 3px 1px #C8C8C8;
	-moz-box-shadow:0px 0px 3px 1px #C8C8C8;
	-webkit-box-shadow:0px 0px 3px 1px #C8C8C8;
}

/* */
.post-header {
	height: 40px;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 2px 2px 0px 0px;
}

.post-header .post-user-icon {
	width: 40px;
	height: 100%;
	border-radius: 50%;
	float: left;
}

.post-header .post-user-name {
	float: left;
	margin-left: 1%;
	margin-top: 10px;
	font-weight: bolder;
	color: blue;
}

.post-header .post-user-id {
	float: left;
	margin-left: 1%;
	margin-top: 10px;
	font-weight: bolder;
	color: red;
}

.post-header .post-time {
	float: right;
	margin-left: 1%;
	margin-top: 10px;
	color: gray;
}

/* */
.post-content {
	width: 100%;
	padding: 0px;
	vertical-align: bottom;
}

.post-content .post-text {
	padding: 3%;
	margin: 0px;
}

.post-content .post-picture {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* */
.post-footer {
	width: 100%;
	height: 40px;
	border-radius: 0px 0px 2px 2px;
}

.post-footer .react-area {
	float: right;
	height: 100%;
	padding-right: 3%;
	margin-right: 3%;
}

.post-footer .react-area .react-box {
	float: left;
	height: 100%;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.post-footer .react-area .react-box:hover {
	background-color: magenta;
	cursor: pointer;
}

.post-footer .react-area .react-box .react-img {
	height: 100%;
	width: auto;
	float: left;
}

.post-footer .react-area .react-box p {
	font-size: 10px;
	width: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}


/* footer */

footer #footer {
	padding-left: 10%;
	padding-right: 10%;
}
